
#hover1{
    width: 100px;
}
#nav1{
    font-size: 20px;
    width: 500px;
    padding-bottom: 40px;
}
a:hover{
    /*background-color: ;*/
}

/*#customer{*/
    /*width: 150%;*/
    /*height:80%;*/
    /*background-color: #5a6268;*/
    /*position: absolute;*/
/*}*/
/*#content{*/
    /*top: 10%;*/
    /*left: 10%;*/
/*}*/

